.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  /*display: flex; */
  display: none;
  padding: 0 19px;
  /*align-items: center;
  justify-content: center; */
}

.modal_opened {
  display: flex;
  margin: auto;
}

.modal__container {
  background-color: white;
  margin: auto;
  padding: 36px;
  color: black;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  background-image: url(../images/close.svg);
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  /*top: -45px;
  right: -45px; */
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
}

.modal__heading {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 54px;
}

.modal__form {
  width: 358px;
}

.modal__input {
  width: 358px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  height: 28px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 358px;
  height: 50px;
  color: white;
  background-color: #000;
  margin-top: 18px;
}

@media screen and (max-width: 480px) {
  .modal__container {
    width: 282px;
    height: 322px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 123px;
  }

  .modal__form {
    width: 238px;
    margin: 0 22px;
  }

  .modal__button {
    width: 238px;
    margin: 0;
  }

  .modal__input {
    width: 238px;
    height: 27px;
  }

  .modal__heading {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    width: 238px;
    height: 22px;
    margin-top: 25px;
    margin-left: 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 20px);
    left: calc(100% - 30px);
  }
}
