.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  /*display: none;*/
  padding: 0 19px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.5s linear;
  /*align-items: center;
  justify-content: center; */
}

.modal__container {
  background-color: white;
  margin: auto;
  padding: 36px;
  color: black;
  border-radius: 10px;
  position: relative;
}

.modal_opened {
  display: flex;
  margin: auto;
  opacity: 1;
  visibility: visible;
}

.modal__container_preview_card {
  padding: 0;
  background: transparent;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 75vw;
  max-height: 75vh;
  cursor: auto;
}

.modal__caption {
  width: 291px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  bottom: calc(100% + 10px);
  color: white;
  margin: 0;
}

.modal__close {
  background-image: url(../images/close.svg);
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: unset;
  left: unset;
}

.modal__heading {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 54px;
}

.modal__form {
  width: 358px;
}

.modal__input {
  width: 358px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  height: 28px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 358px;
  height: 50px;
  color: white;
  background-color: #000;
  margin-top: 18px;
}

.modal__button_disabled {
  background-color: #ffffff;
  color: #666;
  cursor: not-allowed;
}

.modal__input_type_error {
  border-bottom: 1px solid red;
}

.modal__error_visible {
  color: red;
  font-size: 12px;
  display: block;
  top: calc(100% - 25px);
  position: absolute;
}

.modal__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

/* Styles for the delete-card-modal specific container */
#delete-card-modal .modal__container {
  width: 430px;
  min-height: 181px;
  padding: 34px 36px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

#delete-card-modal .modal__heading {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 38px;
}

#delete-card-modal .modal__button {
  width: 358px;
  height: 50px;
  margin-top: 0;
  background-color: #000;
  color: white;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

/* Styles for the update-avatar-modal specific container */
#update-avatar-modal .modal__container {
  width: 430px;
  min-height: 272px;
  padding: 34px 36px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

#update-avatar-modal .modal__heading {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 54px;
}

#update-avatar-modal .modal__button {
  width: 358px;
  height: 50px;
  margin-top: 0;
  background-color: #000;
  color: white;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .modal__close {
    width: 26px;
    height: 26px;
    top: 10px;
    right: 10px;
  }

  #delete-card-modal .modal__container {
    width: 282px;
    min-height: 200px;
    padding: 25px 22px;
  }

  #delete-card-modal .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
  }

  #delete-card-modal .modal__button {
    width: 238px;
    height: 40px;
    font-size: 14px;
  }

  .modal__container {
    width: 282px;
    height: 322px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 123px;
  }

  .modal__form {
    width: 238px;
    margin: 0 22px;
  }

  .modal__button {
    width: 238px;
    margin: 0;
  }

  .modal__input {
    width: 238px;
    height: 27px;
  }

  .modal__heading {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    width: 238px;
    height: 22px;
    margin-top: 25px;
    margin-left: 22px;
  }

  #update-avatar-modal .modal__container {
    width: 282px;
    min-height: 250px; /* Adjusted based on content in smaller screen */
    padding: 25px 22px;
  }

  #update-avatar-modal .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px; /* Adjusted for smaller screen */
  }

  #update-avatar-modal .modal__button {
    width: 238px;
    height: 40px;
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .modal__heading {
    font-size: 18px;
  }

  .modal__button {
    font-size: 14px;
  }
}
